
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>followers</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h1 style="margin-left: 620px;">----- Followings -----</h1>
        <div class="FollowSection" id="FollowSection" style=" top: 10px; width: 320px; padding: 10px 20px; margin-left: 100px; margin-left: 500px; margin-top: 10px;"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Script/Followings.js"></script>
    <script src="~/Script/Script.js"></script>
    <script>

    </script>
</body>
</html>
