
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPasswordExpired</title>

    <link href="~/Content/ForgotPassword.css" rel="stylesheet" />
</head>
<body>
    <div class="mainDiv">
        <div class="cardStyle">
            <form action="" method="post" name="signupForm" id="signupForm">

                <img src="" id="signupLogo" />

                <h2 class="formTitle">
                    Password reset link has Used Or expired.
                </h2>

               

            </form>
        </div>
    </div>
    </body>
</html>
