<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up &bull; Instagram</title>
    <link href="https://fonts.googleapis.com/css2?family=Amita&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.min.css">

    <link href="~/Content/SignUpStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div id="SignupContainer">
        <div class="signupBox">
            <header>
                <h2>Instagram</h2>
                <p>Sign up to see photos and videos from your friends.</p>
            </header>
            <div class="seperator">
                <hr>OR<hr>
            </div>
            <form id="signupForm" enctype="multipart/form-data">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="Username">

                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="Email">

                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Password">

                <label for="fullname">Full Name:</label>
                <input type="text" name="fullname" id="fullname" placeholder="Full Name">

                <label for="dob">Date of Birth:</label>
                <input type="date" name="dob" id="dob" placeholder="Date of Birth">

                <label for="phoneNumber">Phone Number:</label>
                <input type="tel" name="phoneNumber" id="phoneNumber" placeholder="Phone Number">

                <button type="submit">Sign up</button>
            </form>
        </div>
    </div>
    <div id="BottomContainer">
        <p>Have an account? <a href="@Url.Action("LogIn", "Home")">Log in</a></p>
    </div>
    <script src="~/Script/signup.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.all.min.js"></script>
    <script>

        $(document).ready(function () {
            // Function to validate and update input border color
            function validateAndUpdateInput(inputElement, regex) {
                var value = inputElement.val().trim();
                var isValid = regex.test(value);
                inputElement.css('border-color', isValid ? 'green' : 'red');
                return isValid;
            }

            // Function to validate full name format
            function validateFullName() {
                var fullNameRegex = /^[a-zA-Z]+ [a-zA-Z]+$/; // Allow only alphabets with one space
                return validateAndUpdateInput($('#fullname'), fullNameRegex);
            }

            // Function to validate date of birth
            function validateDateOfBirth() {
                var today = new Date();
                var selectedDate = new Date($('#dob').val());
                var isValid = selectedDate <= today;
                $('#dob').css('border-color', isValid ? 'green' : 'red');
                return isValid;
            }

            // Function to validate all input fields
            function validateInputs() {
                var emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
                var passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/;
                var phoneRegex = /^\d{10}$/;

                var emailValid = validateAndUpdateInput($('#email'), emailRegex);
                var passwordValid = validateAndUpdateInput($('#password'), passwordRegex);
                var phoneValid = validateAndUpdateInput($('#phoneNumber'), phoneRegex);
                var username = $('#username').val().trim();
                var usernameValid = username !== '';
                var fullNameValid = validateFullName();
                var dobValid = validateDateOfBirth();

                if (!usernameValid) {
                    $('#username').css('border-color', 'red');
                }

                return emailValid && passwordValid && phoneValid && usernameValid && fullNameValid && dobValid;
            }

            // Update input border color on input change
            $('input').on('input', function () {
                validateAndUpdateInput($(this), /.*/); // Use any non-empty regex for visual validation
            });

            // Handle form submission
            $('#signupForm').submit(function (event) {
                event.preventDefault(); // Prevent form submission
                var mobileNumber = $('#phoneNumber').val();
                // Validate inputs
                var allInputsValid = validateInputs();

                // Submit form if all inputs are valid
                if (allInputsValid) {
                    var username = $('#username').val().trim();
                    var email = $('#email').val();
                    // Validate username existence in the database
                    $.ajax({
                        type: 'POST',
                        url: '/api/LogInApi/CheckUsernameExists',
                        contentType: 'application/json',
                        data: JSON.stringify({ Username: username }),
                        success: function (response) {
                            if (response.exists) {
                                $('#username').css('border-color', 'red');
                                Swal.fire("Username already exists. Please choose another.");
                            } else {
                                // Check if email exists
                                $.ajax({
                                    type: 'POST',
                                    url: '/api/LogInApi/CheckEmailExists',
                                    contentType: 'application/json',
                                    data: JSON.stringify({ Email: email }),
                                    success: function (emailResponse) {
                                        if (emailResponse.exists) {
                                            $('#email').css('border-color', 'red');
                                            Swal.fire("Email already exists. Please use another.");
                                        } else {
                                            // Check if mobile number exists
                                            $.ajax({
                                                type: 'POST',
                                                url: '/api/LogInApi/CheckMobileNumberExists',
                                                contentType: 'application/json',
                                                data: JSON.stringify({ PhoneNumber: mobileNumber }),
                                                success: function (mobileResponse) {
                                                    if (mobileResponse.exists) {
                                                        $('#mobileNumber').css('border-color', 'red');
                                                        Swal.fire("Mobile number already exists. Please use another.");
                                                    } else {
                                                        // Proceed with user registration
                                                        registerUser();
                                                    }
                                                },
                                                error: function () {
                                                    Swal.fire("Error checking mobile number existence. Please try again.");
                                                }
                                            });
                                        }
                                    },
                                    error: function () {
                                        Swal.fire("Error checking email existence. Please try again.");
                                    }
                                });
                            }
                        },
                        error: function () {
                            Swal.fire("Error checking username existence. Please try again.");
                        }
                    });

                } else {
                    // Scroll to the first invalid input
                    $('input:invalid').first().focus();
                    // Show error message or take any other action as needed
                }
            });
        });

        function registerUser() {
            var email = $('#email').val();
            var fullname = $('#fullname').val();
            var username = $('#username').val();
            var password = $('#password').val();
            var mobileNumber = $('#phoneNumber').val();
            var DateOfBirth = $('#dob').val();

            $.ajax({
                type: 'POST',
                url: '/api/LogInApi/Register',
                contentType: 'application/json',
                data: JSON.stringify({
                    DateOfBirth: DateOfBirth,
                    phoneNumber: mobileNumber,
                    email: email,
                    fullname: fullname,
                    username: username,
                    password: password
                }),
                success: function (response) {
                    //Swal.fire("Registration successful.");
                    otpverify();
                    window.location.href = '/Home/OtpPage?email=' + encodeURIComponent(email);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    Swal.fire('Registration failed. Please try again.');
                }
            });
        }
        function otpverify() {
            var email = $('#email').val();
            var requestData = {
                Email: email,
            };


            $.ajax({
                url: '/api/DefaultApi/OtpVerify',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(requestData),

                success: function (response) {
                    alert('OTP sent successfully');
                    // Handle success response here, e.g., display a success message to the user
                },
                error: function (xhr, status, error) {
                    console.error('Failed to send OTP', error);
                    // Handle error response here, e.g., show an error message to the user
                }
            });
        }
    </script>

</body>
</html>


